<!DOCTYPE html>
<html lang="en">
<!-- RUNNING CHROME ANDROID > 89 (WEB_NFC API) -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>sequencer</title>
</head>

<body id="sequencer">
    <div id="container" data-obsokit='{"name": "sequencer"}'>
        <div id="sequencer-container" data-obsokit='{"type": "container"}'></div>

        <div id="steps-lights" data-obsokit='{"type": "container"}'>
            <div id="steplight-4" class="steplight"></div>
            <div id="steplight-3" class="steplight"></div>
            <div id="steplight-2" class="steplight"></div>
            <div id="steplight-1" class="steplight"></div>
            <!-- VOYANTS -->
        </div>

        <div id="bpmviz" data-obsokit='{"type": "container"}'>
            <div id="instrus-lights">
                <div id="instrulight-1"></div>
                <div id="instrulight-2"></div>
                <div id="instrulight-3"></div>
                <div id="instrulight-4"></div>
            </div>
            <div id='startstop' data-obsokit='{"type": "button", "toggle": "true"}'>▶</div>

            <div id="bpms">
                <p></p>
            </div>
            <canvas id="tictac" width="120" height="100"></canvas>
        </div>

        <!-- SLIDER FOR BPM CONTROL -->
        <div id='sliderbpm' data-obsokit='{"type": "sliderx","cursor" : true}'></div>
        
        <div id="messagebox">
            <p>Saving success</p>
        </div>
        <script type="text/javascript" src="/assets/js/ui/metronome.js"></script>
        <script type="text/javascript" src="/assets/js/ui/interface1.js"></script>
        <script type="text/javascript" src="/assets/js/ui/nfccard.js"></script>
        <script type="text/javascript" src="/assets/js/ui/sequencer.js"></script>
        <script type="text/javascript" src="/obsokit/client/obsokit.js"></script>
        <script type="text/javascript" src="/assets/js/ui/messageBox.js"></script>

    </div>
</body>

</html>