<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="#" />
    <title>Iphone</title>
</head>

<body id="iphone">
    <div id="container" data-obsokit='{"name": "iphone"}'>
        <div id="buttons-container" data-obsokit='{"type": "container"}'>
            <!-- INSTRUMENTS SELECTOR  -->
            <div id="selector" data-obsokit='{"type": "selector"}'>
                <div id='b-0'></div>
                <div id='b-1'></div>
                <div id='b-2'></div>
                <div id='b-3'></div>
            </div>
        </div>

        <div id="slider-container" data-obsokit='{"type": "container"}'>
            <!-- EFFECTS SLIDERS  -->
            <div id='slider1' class="slidereffect" data-obsokit='{"type": "sliderx","reversed": true,"cursor" : true}'>
            </div>
            <div id='slider2' class="slidereffect" data-obsokit='{"type": "sliderx","reversed": true,"cursor" : true}'>
            </div>
            <div id='slider3' class="slidereffect" data-obsokit='{"type": "sliderx","reversed": true,"cursor" : true}'>
            </div>
            <div id='slider4' class="slidereffect" data-obsokit='{"type": "sliderx","reversed": true,"cursor" : true}'>
            </div>
        </div>

        <div id="master-container" data-obsokit='{"type": "container"}'>
            <div id='savebutton' data-obsokit='{"type": "button", "toggle": false}'>⬤</div>
            <!-- MASTER SLIDER  -->
            <div id='slidermaster' class="slidereffect"
                data-obsokit='{"type": "sliderx","reversed": true,"cursor" : true}'></div>
        </div>

        <div id="messagebox">
            <p></p>
        </div>
    </div>
    <script type="text/javascript" src="/obsokit/client/obsokit.js"></script>
    <script type="text/javascript" src="/assets/js/ui/interface2.js"></script>
    <script type="module" src="/assets/js/app/main.js"></script>
    <script type="text/javascript" src="/assets/js/ui/messageBox.js"></script>
</body>

</html>